<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SymBNB-{% block title %}Welcome!{% endblock %}</title>

        <meta name="viewport" content="width=device-width, user-scalable=no">

        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
   {% include 'admin/partials/header.html.twig' %}

  

        {% block body %}{% endblock %}
        <script src="{{ asset('build/css/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
     {% include 'admin/partials/footer.html.twig' %}
</html>