{% extends "base.html.twig" %}
    {% block body %}
<div class="container mt-3">
   <div class="jumbotron">
       <h1 class="display-3">Bienvenue sur SymBNB !</h1>
       <p class="lead">Nous mettons en relations les voyageurs et les propriétaires qui veulent profiter d'opportunités et gagner de l'argent en proposantleur bien à la location !</p>
       <hr class="my-4">
       <p>Vous etes voyageur ? Et vous voulez voir ou vous pourrez loger pour le prochain déplacement ?</p>
       <p class="lead">
           <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
       </p>
   </div>

   <h2 class="h1 mt-3 my-5">Nos appartements stars</h2>

   <div class="row ">
        <div class="col-md-4" >
             <div class="card bg-light mb-3">
                  <div class="card-header text-center">
                       3 chambres, <strong>49&euro; / nuit</strong> <br>
                       <small>Pas encore noté</small>
                  </div>

            <img src="http://placehold.it/1000x400" alt="Image de l appartement" style="height: 200px; width: 100%;display: block">
            <div class="card-body">
                 <h4 class="card-title">
                 Appartement de ouff!
                 </h4>
                 <p class="card-text">
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem eaque voluptas obcaecati itaque repellat id amet quae distinctio eum quisquam?
                 </p>
                 <a href="#" class="btn btn-secondary">En savoir plus</a>
            </div>
             </div>
        
        </div >

         <div class="col-md-4" >
             <div class="card bg-light mb-3">
                  <div class="card-header text-center">
                       3 chambres, <strong>49&euro; / nuit</strong> <br>
                       <small>Pas encore noté</small>
                  </div>

            <img src="http://placehold.it/1000x400" alt="Image de l appartement" style="height: 200px; width: 100%;display: block">
            <div class="card-body">
                 <h4 class="card-title">
                 Appartement de ouff!
                 </h4>
                 <p class="card-text">
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem eaque voluptas obcaecati itaque repellat id amet quae distinctio eum quisquam?
                 </p>
                 <a href="#" class="btn btn-secondary">En savoir plus</a>
            </div>
             </div>
        
        </div >

         <div class="col-md-4" >
             <div class="card bg-light mb-3">
                  <div class="card-header text-center">
                       3 chambres, <strong>49&euro; / nuit</strong> <br>
                       <small>Pas encore noté</small>
                  </div>

            <img src="http://placehold.it/1000x400" alt="Image de l appartement" style="height: 200px; width: 100%;display: block">
            <div class="card-body">
                 <h4 class="card-title">
                 Appartement de ouff!
                 </h4>
                 <p class="card-text">
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem eaque voluptas obcaecati itaque repellat id amet quae distinctio eum quisquam?
                 </p>
                 <a href="#" class="btn btn-secondary">En savoir plus</a>
            </div>
             </div>
        
        </div >
   </div>
   <h2 class="h1 my-5">Nos propriétaires star !</h2>
   <div class="row ">
   <div class="col">
        <div class="card border-secondary mb-3">
             <div class="card-body">
                   <h4 class="card-title">Lior Chamla</h4>
                   <hr>
                   <div class="card-text">
                         <img src="http://placehold.it/64x64" alt="avatar" class="float-left mr-3">
                         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, distinctio.</P>
                         <a href="#" class="btn btn-success float-right">En savoir plus</a>
                   </div>
             </div>
        </div>
        </div>

        <div class="col">
        <div class="card border-secondary mb-3">
             <div class="card-body">
                   <h4 class="card-title">Lior Chamla</h4>
                   <hr>
                   <div class="card-text">
                         <img src="http://placehold.it/64x64" alt="avatar" class="float-left mr-3">
                         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, distinctio.</P>
                         <a href="#" class="btn btn-success float-right">En savoir plus</a>
                   </div>
             </div>
        </div>
      </div>  
   </div>
   

{% endblock %}